.root {
    background-color: black;
    height: 'calc(100% - 35px)';
    position: 'absolute';
    left: '0';
    width: '300px';
    box-shadow: '0px 0px 2px black';
  }
.titleInput {
    height: '50px';
    box-sizing: 'border-box';
    border: 'none';
    padding: '5px';
    font-size: '24px';
    width: 'calc(100% - 300px)';
    background-color: '#29487d';
    color: 'white';
    padding: '100px'
  }
.editIcon {
    position: 'absolute';
    left: '310px';
    top: '12px';
    color: 'white';
    width: '10';
    height: '10'
  }
.editorContainer {
    height: '600px';
    box-sizing: 'border-box';
  }