body,
html {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "Gundaly";
    src: local("Gundaly"),
        url('../../fonts/gundaly/Gundaly.ttf') format("truetype");
    font-weight: bold;
}

body {
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

header {
    font-family: 'Gundaly';
    margin-top: 50px;
    font-size: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;


}

.form-group {
    color:rgb(231, 228, 228)
}



.form-container {
    width: 500px;
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
    background-color: rgba(238, 233, 233, 0.7);
    padding: 50px;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    color:black;
}

.invalid {
    border: 2px solid red !important;
}

.password-requirements {
    color: red;
    font-weight: bold;
}
